@font-face {
    font-family: 'ProximaNova_bold';
    src: url('../../../public/fonts/proximanova_bold.otf');
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../../../public/fonts/proximanova_regular.ttf');
}



* {
    margin: 0px;
    padding: 0px;
    font-family: ProximaNova, Georgia, Helvetica, sans-serif;
    box-sizing: border-box;
}


.product_list {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 324px));
    margin: 0 0 10px;
}