@font-face {
    font-family: ProximaNova;
    src: url('../../../public/fonts/proximanova_regular.ttf');
}

@font-face {
    font-family: ProximaNova_bold;
    src: url('../../../public/fonts/proximanova_bold.otf');
}

@font-face {
    font-family: ProximaNova_black;
    src: url('../../../public/fonts/proximanova_black.ttf');
}


// @font-face {
//     // font-display: swap;
//     font-family: ProximaNova;
//     font-style: normal;
//     font-weight: 400;
//     src: url('../../../public/fonts/proximanova_regular.ttf') format("ttf")
// }

// @font-face {
//     // font-display: swap;
//     font-family: ProximaNova;
//     font-style: normal;
//     font-weight: 600;
//     src: url('../../../public/fonts/proximanova_bold.otf')  format("otf")
// }

// @font-face {
//     // font-display: swap;
//     font-family: ProximaNova;
//     font-style: normal;
//     // font-weight: 700;
//     src:  url('../../../public/fonts/proximanova_black.ttf') format("ttf")
// }

* {
    margin: 0px;
    padding: 0px;
    font-family: ProximaNova_black, Georgia, Helvetica, sans-serif;

    box-sizing: border-box;
}

.product_list_item_wrapper {
    height: 100%;

    &.not_available {

        .image_content_wrapper,
        .product_list_item_header {
            opacity: .5;
        }

        hr::before {
            background: #a8a7a7;
            background-color: #a8a7a7;
        }
    }

    hr::before {
        background: #ff8522;
        background-color: #ff8522;
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: top;
        width: 17px;
    }

    .product_list_item {
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        max-width: 324px;
        min-height: 368px;
        padding: 20px;
        position: relative;
        transition: box-shadow .35s;

        .product_list_item_header {
            align-items: center;
            display: flex;
            left: 20px;
            position: absolute;
            top: 20px;
            width: 60px;
        }

        a {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
            transition: all .35s;
        }

        .image_content_wrapper {
            display: flex;
            flex-direction: column;
            padding: 0;
            cursor: pointer;
            align-items: flex-start;

            .product_list_item__image {
                align-self: center;
                height: 150px;
                margin: 20px 0 10px;
                width: 150px;

                object-fit: contain;
                object-position: center;

                img {
                    -ms-interpolation-mode: bicubic;
                    -webkit-tap-highlight-color: transparent;
                    max-width: 100%;
                    vertical-align: middle;
                    border: 0;
                }
            }

            .product_list_item__content {
                margin-top: auto;

                .product_title {
                    /* -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical; */
                    display: -webkit-box;
                    color: #272727;
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 1.4;
                    max-height: 39.199999999999996px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .rating_wrapper {
                    display: flex;
                    flex-direction: row;
                    margin: 3px 0;
                    align-items: center;

                    .star_wrapper {
                        height: 14px;
                        position: relative;
                        width: 75px;

                        .star_progress {
                            display: flex;
                            flex-direction: row;
                            height: 100%;
                            position: absolute;
                            width: 100%;

                            .star_progress_active {
                                background-color: #f2c94c;
                                width: 100%;
                            }

                            .star_progress_passive {
                                background-color: #e5e5e5;
                                flex: 1 1;
                            }
                        }

                        .star_holder {
                            fill: #fff;
                            display: flex;
                            position: relative;
                        }
                    }

                    .rating_count {
                        color: #373737;
                        font-size: 14px;
                        font-weight: 700;
                        padding: 0 7px 0 5px;
                    }

                    .rating_text,
                    .rating_text_zero {
                        padding-left: 8px;
                        position: relative;

                        align-items: center;
                        color: #979ea4;
                        display: flex;
                        font-size: 11px;
                        font-weight: 400;
                        justify-content: center;
                        padding-left: 8px;

                        &::before {
                            background-color: #e5e5e5;
                            border-radius: 50%;
                            content: "";
                            display: block;
                            height: 3px;
                            left: -1px;
                            position: absolute;
                            top: 40%;
                            width: 3px;
                        }
                    }
                }

                hr {
                    border: 0;
                    margin: 0 0 5px;
                    color: #ff8522;
                    height: 2px;
                    // margin: 15px 0;
                }

                .product_weight {
                    color: #707070;
                    font-size: 12px;
                }
            }
        }

        .product_list_item_controls {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-top: auto;
            position: relative;

            .btn {
                background: none;
                border: 1px solid transparent;
                color: #373737;
                cursor: pointer;
                display: inline-block;
                font-family: ProximaNova_black, Helvetica, Arial, sans-serif;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .02px;
                line-height: 1.666666666666667;
                outline: none;
                overflow: ellipsis;
                padding: 7px 19px 8px;
                position: relative;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                transition: all .35s;
                transition-property: all;
                transition-property: width, height, opacity, color, background, opacity, letter-spacing;
                user-select: none;
                vertical-align: middle;
            }

            .product_price_container {
                display: flex;
                flex-direction: row;

                .current_price {
                    font-family: ProximaNova_black, Georgia, Helvetica, sans-serif;
                    color: #000;
                    flex-direction: column;
                    font-weight: 700;

                    .price_wrapper {
                        display: flex;

                        .current_integer {
                            font-size: 26px;
                            line-height: 1.15;
                        }
                    }
                }

                .price_currency {
                    font-size: 16px;
                }

                .current-price,
                .old-price {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: row;
                }
            }

            .add_to_cart_round,
            .add_to_comment_wrapper {
                bottom: 0;
                position: absolute;
                right: 0;
            }

            .add_to_cart_round {
                align-items: center;
                background: #fff;
                border: 1px solid hsla(0, 0%, 44%, .07);
                border-radius: 20px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, .121);
                cursor: pointer;
                display: flex;
                flex-shrink: 0;
                height: 40px;
                justify-content: center;
                margin: 0;
                position: relative;
                transition: all .35s;
                width: 40px;
                z-index: 1;

                .icon_basket {
                    color: #ff8522;
                    height: 22px;
                    margin-right: 2px;
                    width: 22px;

                    display: inline-block;

                    svg {
                        height: 25px;
                        width: 25px;

                        display: block;
                    }
                }

                .calc_store_qty {
                    bottom: -10px;
                    color: transparent;
                    font-size: 8px;
                    position: absolute;
                    right: 15px;
                    transition: color .35s;
                    user-select: none;
                    white-space: nowrap;
                }

            }

            .add_to_comment_wrapper {
                bottom: 0;
                position: absolute;
                right: 0;
                width: fit-content;

                .btn_tooltip {
                    background: #747474 0 0 no-repeat padding-box;
                    bottom: 50px;
                    color: #fff;
                    display: none;
                    padding: 15px;
                    position: absolute;
                    right: 0;
                    transition: .5s;
                    width: 230px;
                    z-index: 1;

                    &::before {
                        border-bottom: 8px solid transparent;
                        border-right: 8px solid #747474;
                        border-top: 8px solid transparent;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 0;
                        position: absolute;
                        right: 45px;
                        top: 93%;
                        -webkit-transform: rotate(-90deg);
                        transform: rotate(-90deg);
                        width: 0;
                    }

                    span {
                        font-size: 14px;
                        letter-spacing: 0;
                        line-height: 18px;
                        text-align: left;
                    }
                }

                .btn_primary:not(:disabled):focus,
                .btn_primary:not(:disabled):hover {
                    background: #ff943d;
                    color: #fff;
                }

                .add_to_comment_btn {
                    background: #fff;
                    border: 1px solid #ff8522;
                    color: #ff8522;
                    cursor: pointer;
                    height: 35px;
                    position: relative;
                    width: 150px;

                    border-radius: 40px;
                    margin: 0;
                }

                &:hover>.btn_tooltip {
                    display: block;
                }
            }
        }
    }

    &:hover .product_list_item {
        transform: scale(1.02);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
        transition: all 0.35s;
        z-index: 9;

    }

    // &:hover .product_list_item {
    //     box-shadow: inset 2px 2px 2px 0 hsla(0, 0%, 100%, .5), 7px 7px 20px 0 rgba(0, 0, 0, .1), 4px 4px 5px 0 rgba(0, 0, 0, .1);
    //     -webkit-transform: scale(1.02);
    //     transform: scale(1.02);
    //     transition: .25s cubic-bezier(.47, 0, .75, .72);
    //     z-index: 9;
    // }
}

.black,
.border_radius,
.btn_default,
.btn_gray,
.btn_link,
.btn_primary,
.btn_white {
    border-radius: 40px;
}