* {
  margin: 0px;
  padding: 0px;
  font-family: ProximaNova, Helvetica, Arial, sans-serif;
}

body {
  width: 100%;
}

.header__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1920px;
}


.header_top,
.content {
  /* visibility: hidden; */
  align-items: center;
  display: flex;
  height: 100px;
  max-width: 1700px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  border: 1px dashed;
  /*-------------------------<<<<<<<<<<<<-------------------------------*/
  justify-content: space-around;
  text-align: center;
  width: max-content;
  /* padding: 0px; */
}

.header_top,
.header__wrapper {
  background-color: #fff;
  /* width: 100%; */
}

li {
  list-style-type: none;
}

.logo {
  width: max-content;
  padding: 0px;
}

.logo>img {
  /* background-image: url(./images/logo.jpg); */
  width: 144px;
  height: 56px;
  cursor: pointer;
  margin-right: 15px;
  border: none;
}

.button-product>img:first-child {
  width: 24px;
  height: 24px;
}

.button-product>img:last-child {
  width: 12px;
  height: 12px;
  transform: rotate(180deg);
}

.button-product,
.button-basket {
  border: none;
  min-width: 184px;
  height: 48px;
  align-items: center;
  background-color: #ff8522;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font: ProximaNova, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  justify-content: space-between;
  margin-right: 15px;
  padding: 0 18px;
  position: relative;
  transition: all .35s;
  /* width: max-content; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button-basket {
  display: flex;
  min-width: 232px;
  align-items: center;
  margin-right: 0px;
  margin-left: 15px;
}

.button-basket img {
  width: 32px;
  height: 32px;
}



