@font-face {
  font-family: 'ProximaNova';
  src: url('../public/fonts/proximanova_regular.ttf');
  font-family: 'ProximaNova_B';
  src: url('../public/fonts/proximanova_bold.otf') format('otf'),
}

/* -------------------------------------------------------------------------------- */

* {
  margin: 0px;
  padding: 0px;
  font-family: ProximaNova, Georgia, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* height: 1000px; */
}

.layout {
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.header {
  align-items: center;
  background-color: #fff;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, .2); ******************************************************** */
  color: #373737;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  z-index: 2;

}


.header_top,
.content {
  /* visibility: hidden; */
  align-items: center;
  display: flex;
  height: 100px;
  max-width: 1700px;
  padding: 0 20px;
  /* width: 100%;  */
  /* border: 1px dashed; */
  /*-------------------------<<<<<<<<<<<<-------------------------------*/
  /* justify-content: space-around; */
  /* text-align: center; */
  /* width: max-content; */
  transition: all .25s;
}

/* .header_top.button-product {
  border: 1px dashed;
} */


.header_top,
.header__wrapper {
  background-color: #fff;
  /* width: 100%; */

}

.logo {
  width: max-content;
  padding: 0px;


}

.logo>img {
  /* background-image: url(./images/logo.jpg); */
  width: 144px;
  height: 56px;
  cursor: pointer;
  margin-right: 15px;
  border: none;
}

.button-product>img:first-child {
  width: 24px;
  height: 24px;
}

.button-product>img:last-child {
  width: 12px;
  height: 12px;
  transform: rotate(180deg);
}

.button-product,
.button-basket {
  border: none;
  min-width: 184px;
  height: 48px;
  align-items: center;
  background-color: #ff8522;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
  display: flex;
  /* font: ProximaNova, Helvetica, Arial, sans-serif; */
  font-size: 16px;
  font-weight: 700;
  justify-content: space-between;
  margin-right: 15px;
  padding: 0 18px;
  position: relative;
  transition: all .35s;
  /* width: max-content; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;


}

.button-basket {
  display: flex;
  min-width: 232px;
  align-items: center;
  margin-right: 0px;
  margin-left: 15px;

}

.button-basket img {
  width: 32px;
  height: 32px;
}

/* -------------------------------------------------------------------------------------------- */


.header__bottom__wrapper {
  font-family: ProximaNova, Georgia, Helvetica, sans-serif;
  background-color: #f9f9f9;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  max-height: 50px;
  top: 100px;
  transition: all .5s;
  width: 100%;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
}

.header__bottom {

  display: flex;
  justify-content: space-between;
  font-family: ProximaNova, Georgia, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  line-height: 1;
  margin: 0 auto;
  max-width: 1700px;
  padding: 0 20px;
  transition: all .5s;
  width: 100%;
  /* position: fixed; */
  color: #373737;
}

.nav_list,
.additional_pages {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  flex: 0 1 auto;
  height: 100%;
}

li a {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0 18px;
  transition: none;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

li.item_flag {
  align-items: center;
  display: flex;
  min-width: 35px;
}

li.item_flag img {
  width: 35px;
}



/* .hide {
  height: 0;
  margin: 0 auto;
  opacity: 0;
} */

.hide {
  background-color: #f9f9f9;
  /* max-height: 50px; */
  position: absolute;
  transition: all .5s;
  top: 50px;
  /* width: 100%; */
  z-index: 1;
  /* color:#3e3e3e33; */
  opacity: 0;
}

.additional_pages {
  font-size: 14px;
  text-transform: uppercase;
}

.PhoneIcon {
  fill: #ff8522;
  height: 35px;
  padding-right: 5px;
  width: 35px;
}

.phone_holder {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .5s;
}

.phone_holder_text {
  display: block;
  font-size: 0.1px;
  line-height: 0.1px;
  opacity: 0;
  transition: all .5s;
  font-weight: 300;
  text-transform: none;
}

.hot_line_phone:hover>.phone_holder .phone_holder_text {
  display: block;
  font-size: 12px;
  line-height: 12px;
  opacity: 1;
  transition: all .5s;
  font-weight: 300;
  text-transform: none;
}

.phone_holder_tel {
  font-size: 16px;
  font-weight: 900;
}

/* ------------------------------------------------------------- */

.category_page_heading {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0.67em;
  margin-top: 0.67em;
}




@media (max-width: 1720px) {

  .header_top,
  .content {
    max-width: 1366px;
    transition: all 0.25s;
  }

  .header__bottom {
    max-width: 1366px;
    transition: all 0.5s;
  }
}