.category_filter_shield {
    display: flex;
    flex-direction: column;
    min-height: inherit;
    padding-bottom: 60px;
}

.side_shield_panel {
    position: relative;
    transition: all 1s;
    width: 100%;

    .filter_wrapper {
        color: #373737;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
        outline: none;
        padding-bottom: 10px;

        .filter_wrapper_title {
            align-items: center;
            cursor: pointer;
            display: flex;
            font-weight: 700;
            justify-content: space-between;
            margin-bottom: 15px;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .icon {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .filter_wrapper_cover.active {
            display: block;
        }

        .filter_wrapper_cover {
            display: none;
        }
    }
}