@font-face {
    font-family: ProximaNova;
    src: url('../../../../public/fonts/proximanova_regular.ttf');
}

@font-face {
    font-family: ProximaNova_bold;
    src: url('../../../../public/fonts/proximanova_bold.otf');
}


.category_filter_shield {
    display: flex;
    flex-direction: column;
    min-height: inherit;
    padding-bottom: 60px;
    font-family: ProximaNova, Georgia, Helvetica, sans-serif;
}

.side_shield_panel {
    position: relative;
    transition: all 1s;
    width: 100%;

    .filter_wrapper {
        color: #373737;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
        outline: none;
        padding-bottom: 10px;

        .filter_wrapper_title {
            font-family: Helvetica, sans-serif;
            font-weight: 900;
            font-size: 15px;

            // font-family: ProximaNova_bold, Georgia, Helvetica, sans-serif;
            align-items: center;
            cursor: pointer;
            display: flex;
            // font-weight: 700;
            justify-content: space-between;
            margin-bottom: 15px;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .icon {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .filter_wrapper_cover {
            display: none;

            &.filter_wrapper_cover_active {
                display: block;
            }

            li,
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            .block_checkbox_item {
                cursor: pointer;
                display: flex;
                font-size: 16px;
                font-weight: 100;
                justify-content: space-between;
                justify-items: center;
                margin-bottom: 14px;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;

                &:hover,
                &:hover .block_checkbox_item_count {
                    color: #ff8522;
                }

                .block_checkbox_item_title {
                    display: flex;
                    justify-items: center;

                    .block_checkbox {
                        border: 1px solid #a8a7a7;
                        border-radius: 5px;
                        display: inline-block;
                        height: 18px;
                        margin-right: 14px;
                        min-width: 18px;
                        padding: 3px;
                        width: 18px;
                    }
                }

                &:hover .block_checkbox {
                    border-color: #ff8522;
                }

                .block_checkbox_item_count {
                    color: #a8a7a7;
                    font-size: 12px;
                }
            }

            .block_checkbox_item_active {
                color: #ff8522;

                .block_checkbox:after {
                    background-color: #ff8522;
                    border-radius: 5px;
                    content: "";
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}